.layout-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.content-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content-container > div {
    padding: 10px;
    margin: 10px;

    border-bottom-right-radius: 5%;

    color: black;
    border-color: black;
    background-color: lightblue;

    overflow: hidden;

    text-align: center;
    
}

img {
    scale: 125%;

    border-bottom-right-radius: 5%;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}