.layout-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.content-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 2;
}

.sidebar-left{
    
    border-radius: 2vw;
    
    padding: 10px;
    color: white;
    border-color: #180D49;
    background-color: #180D49;
    text-align: left;
    flex-grow: 1;
}

.sidebar-right{
    border-radius: 2vw;
    
    padding: 10px;
    color: white;
    border-color: #180D49;
    background-color: #180D49;
    text-align: right;
    flex-grow: 1;
}

.content-container > div {
    padding: 10px;
    margin: 10px;

    border-top-left-radius: 2vw;
    border-bottom-right-radius: 2vw;

    color: #180D49;
    border-color: #180D49;
    background-color: white;

    overflow: hidden;

    text-align: center;
    
}

img {
    scale: 125%;

    border-radius: 2vw;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #1FBFFF;
}
