.layout-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.content-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 2;
    background-color: #1FBFFF;
    border-radius: 2vw;
    padding: 1%;
    margin: 1%;
}

.sidebar-left{
    
    border-radius: 2vw;
    
    padding: 1%;
    color: #180D49;
    border-color: #180D49;
    background-color: white;
    text-align: left;
    flex-grow: 1;
}

.sidebar-right{
    border-radius: 2vw;
    
    padding: 1%;
    color: #180D49;
    border-color: #180D49;
    background-color: white;
    text-align: right;
    flex-grow: 1;
}

.content-entry {
    padding: 1%;
    margin: 1%;

    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;

    color: #180D49;
    border-color: #180D49;
    background-color: white;

    overflow: hidden;

    text-align: center;
    
    text-decoration: none;
    
}

.content-entry-left {
    padding: 1%;
    margin: 1%;

    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;

    color: #180D49;
    border-color: #180D49;
    background-color: white;

    overflow: hidden;

    text-align: left;
    
    text-decoration: none;
    
}

.content-button {
    padding: 5%;
    margin: 10%;

    border-width: 2px;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;

    color: white;
    border-color: white;
    background-color: #2E2FE3;

    overflow: hidden;

    text-align: center;
    
    text-decoration: none;

    font-size: 100%;
    
}

.content-button-top {
    padding: 5%;
    margin: 10%;
    margin-top: 20%;

    border-width: 2px;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;

    color: white;
    border-color: white;
    background-color: #2E2FE3;

    overflow: hidden;

    text-align: center;
    
    text-decoration: none;

    font-size: 100%;
    
}

.content-button-bottom {
    padding: 5%;
    margin: 10%;
    margin-bottom: 10%;

    border-width: 2px;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;

    color: white;
    border-color: white;
    background-color: #2E2FE3;

    overflow: hidden;

    text-align: center;
    
    text-decoration: none;

    font-size: 100%;
    
}

img {
    border-radius: 2vw;
    
    max-width: 100%;
    height:auto;

}

body {
    font-family: 'Abel';
    background-color: #1FBFFF;
}
